In [2]:
# coding: utf-8
# In[9]:

import pandas as pd

In [43]:
listings_file = 'http://data.insideairbnb.com/germany/be/berlin/2019-07-11/data/listings.csv.gz'

df_raw = pd.read_csv(listings_file, compression='gzip')
df_raw.to_csv('data.csv')
df=df_raw

In [5]:
# Import and clean the data
# df = pd.read_csv('data.csv', low_memory=False, converters={'price': lambda s: (s.replace('$', ''))})
# df.price.head()

In [44]:
# Price data includes $ sign and commas as thousands separator
df.price = pd.to_numeric(df.price)

ValueError: Unable to parse string "$21.00" at position 0

## Sorminäppäryysharjoituksia

In [47]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

## Hintadatan korjaaminen

In [48]:
df.price = df.price.str.replace('$', '')
df.price = df.price.str.replace(',', '')
df.price = pd.to_numeric(df.price)
# Group the data frame by month and item and extract a number of stats from each group
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1944,https://www.airbnb.com/rooms/1944,20190711004031,2019-07-11,cafeheaven Pberg/Mitte/Wed for the summer 2019,"Private, bright and friendly room. You'd be sh...","The room is very large, private, cozy, bright,...","Private, bright and friendly room. You'd be sh...",none,near all the trendy cafés and flea markets and...,...,f,f,moderate,f,f,1,0,1,0,0.25
1,2015,https://www.airbnb.com/rooms/2015,20190711004031,2019-07-11,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,A+++ location! This „Einliegerwohnung“ is an e...,Great location! 30 of 75 sq meters. This wood...,none,It is located in the former East Berlin area o...,...,f,f,moderate,f,f,4,4,0,0,3.18
2,3176,https://www.airbnb.com/rooms/3176,20190711004031,2019-07-11,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,1st floor (68m2) apartment on Kollwitzplatz/ P...,This beautiful first floor apartment is situa...,none,The neighbourhood is famous for its variety of...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.18
3,3309,https://www.airbnb.com/rooms/3309,20190711004031,2019-07-11,BerlinSpot Schöneberg near KaDeWe,First of all: I prefer short-notice bookings. ...,"Your room is really big and has 26 sqm, is ver...",First of all: I prefer short-notice bookings. ...,none,"My flat is in the middle of West-Berlin, direc...",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.38
4,6883,https://www.airbnb.com/rooms/6883,20190711004031,2019-07-11,Stylish East Side Loft in Center with AC & 2 b...,NaN,Stay in a stylish loft on the second floor and...,Stay in a stylish loft on the second floor and...,none,The emerging and upcoming East of the new hip ...,...,f,f,moderate,f,t,1,1,0,0,1.08

## Datan suodattaminen

In [50]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1944,https://www.airbnb.com/rooms/1944,20190711004031,2019-07-11,cafeheaven Pberg/Mitte/Wed for the summer 2019,"Private, bright and friendly room. You'd be sh...","The room is very large, private, cozy, bright,...","Private, bright and friendly room. You'd be sh...",none,near all the trendy cafés and flea markets and...,...,f,f,moderate,f,f,1,0,1,0,0.25
1,2015,https://www.airbnb.com/rooms/2015,20190711004031,2019-07-11,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,A+++ location! This „Einliegerwohnung“ is an e...,Great location! 30 of 75 sq meters. This wood...,none,It is located in the former East Berlin area o...,...,f,f,moderate,f,f,4,4,0,0,3.18
2,3176,https://www.airbnb.com/rooms/3176,20190711004031,2019-07-11,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,1st floor (68m2) apartment on Kollwitzplatz/ P...,This beautiful first floor apartment is situa...,none,The neighbourhood is famous for its variety of...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.18
3,3309,https://www.airbnb.com/rooms/3309,20190711004031,2019-07-11,BerlinSpot Schöneberg near KaDeWe,First of all: I prefer short-notice bookings. ...,"Your room is really big and has 26 sqm, is ver...",First of all: I prefer short-notice bookings. ...,none,"My flat is in the middle of West-Berlin, direc...",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.38
4,6883,https://www.airbnb.com/rooms/6883,20190711004031,2019-07-11,Stylish East Side Loft in Center with AC & 2 b...,NaN,Stay in a stylish loft on the second floor and...,Stay in a stylish loft on the second floor and...,none,The emerging and upcoming East of the new hip ...,...,f,f,moderate,f,t,1,1,0,0,1.08

In [51]:
df.price.describe()

count    24395.000000
mean        70.848166
std        214.400730
min          0.000000
25%         32.000000
50%         50.000000
75%         75.000000
max       9000.000000
Name: price, dtype: float64

In [52]:
df.price.quantile(.75)

75.0

In [53]:
df_expensive = df[df.price > df.price.quantile(.75)]

In [54]:
df_expensive.price.describe()

count    5927.000000
mean      160.983803
std       421.556932
min        76.000000
25%        89.000000
50%       100.000000
75%       140.000000
max      9000.000000
Name: price, dtype: float64

In [55]:
df_expensive.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,5.927000e+03,5.927000e+03,0.0,0.0,0.0,5.927000e+03,0.0,5923.000000,5923.000000,5927.000000,...,4658.000000,4660.000000,4657.000000,4656.000000,0.0,5927.000000,5927.000000,5927.000000,5927.000000,4762.000000
mean,1.980873e+07,2.019071e+13,NaN,NaN,NaN,6.862771e+07,NaN,5.763802,5.763802,52.512617,...,9.746243,9.762446,9.672321,9.341710,NaN,2.837017,2.259153,0.510545,0.067319,1.315059
std,1.125839e+07,0.000000e+00,NaN,NaN,NaN,8.041204e+07,NaN,59.660308,59.660308,0.028412,...,0.667034,0.685925,0.650793,0.808034,NaN,4.687655,3.965510,2.358199,1.289129,1.648969
min,3.176000e+03,2.019071e+13,NaN,NaN,NaN,2.217000e+03,NaN,0.000000,0.000000,52.346200,...,2.000000,2.000000,2.000000,2.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,9.730976e+06,2.019071e+13,NaN,NaN,NaN,6.998850e+06,NaN,1.000000,1.000000,52.494605,...,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.230000
50%,2.087124e+07,2.019071e+13,NaN,NaN,NaN,3.079665e+07,NaN,1.000000,1.000000,52.512110,...,10.000000,10.000000,10.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.710000
75%,2.995589e+07,2.019071e+13,NaN,NaN,NaN,1.123635e+08,NaN,2.000000,2.000000,52.532795,...,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,1.000000,0.000000,0.000000,1.877500
max,3.659756e+07,2.019071e+13,NaN,NaN,NaN,2.748126e+08,NaN,1737.000000,1737.000000,52.651670,...,10.000000,10.000000,10.000000,10.000000,NaN,49.000000,29.000000,36.000000,43.000000,35.030000

## Datan uudelleenjärjestely

Luodaan dataan uusi taso/kerros Shane Lynnin [ohjeistamana](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/):

In [56]:
df_neighbourhoods = df.groupby(
   ['neighbourhood_cleansed']
).agg(
    {
        'id'   : 'count',
        'price': ['mean', 'median', 'min', 'max'],
    }
)

# .sort_values(by="median", ascending=False)

df_neighbourhoods = df_neighbourhoods.sort_values(by=[('price', 'mean')], ascending=False)

# ('Group1', 'C')

df_neighbourhoods.head(50)

                                             id       price               \
                                          count        mean median   min
neighbourhood_cleansed
Volkspark Wilmersdorf                       199  362.221106   50.0  16.0
Allende-Viertel                               5  187.200000  260.0  26.0
Marzahn-Nord                                  3  184.000000   27.0  25.0
Schöneberg-Nord                             542  174.581181   50.0  10.0
Karlshorst                                   67  170.791045   50.0  15.0
Frankfurter Allee Süd                        50  148.340000   35.0   9.0
Haselhorst                                    6  140.833333  155.0  20.0
Düsseldorfer Straße                         195  115.143590   55.0  18.0
Regierungsviertel                           241  113.049793   81.0  25.0
Alexanderplatz                             1227  105.638957   72.0  10.0
Kurfürstendamm                              149  103.355705   70.0  18.0
Helmholtzplatz                              506  102.786561   64.0  10.0
Zehlendorf  Südwest                          55   98.163636   69.0  14.0
Weißensee                                   200   95.695000   50.0  13.0
Rahnsdorf/Hessenwinkel                       33   91.818182   79.0  40.0
Rummelsburger Bucht                          49   91.571429   60.0  22.0
Tiergarten Süd                              221   89.909502   62.0  10.0
Müggelheim                                    7   89.000000   63.0  40.0
Brunnenstr. Süd                             852   87.799296   70.0  13.0
Halensee                                     90   85.566667   60.0  20.0
Schmöckwitz/Karolinenhof/Rauchfangswerder    19   83.526316   80.0  30.0
Spandau Mitte                                26   83.076923   70.0  13.0
Charlottenburg Nord                          22   80.727273   36.5  15.0
Heerstrasse                                  45   79.577778   48.0  10.0
Prenzlauer Berg Südwest                     654   79.299694   69.0   9.0
Kantstraße                                  152   78.921053   60.0  13.0
Marzahn-Süd                                  35   78.085714   60.0   0.0
Südliche Friedrichstadt                     442   74.796380   54.0   0.0
Prenzlauer Berg Süd                         623   72.634029   60.0  13.0
Dammvorstadt                                 28   71.857143   50.0  13.0
Frankfurter Allee Nord                      770   70.138961   45.0   0.0
Alt-Hohenschönhausen Nord                    12   69.666667   59.0  14.0
Zehlendorf  Nord                             74   69.418919   56.5  20.0
Blankenfelde/Niederschönhausen               55   68.909091   50.0  14.0
Schmargendorf                                27   68.629630   49.0  23.0
Neue Kantstraße                             170   68.558824   49.5  15.0
Westend                                     106   67.971698   49.0  14.0
Schloß Charlottenburg                       162   67.660494   47.5  10.0
Buch                                         10   67.400000   62.5  14.0
Grunewald                                    67   67.074627   50.0  15.0
Gatow / Kladow                               18   66.944444   54.5  16.0
Pankow Zentrum                              131   66.908397   49.0  15.0
südliche Luisenstadt                        679   66.438881   50.0  12.0
Tempelhofer Vorstadt                       1411   66.256556   50.0   0.0
Mahlsdorf                                    34   66.176471   57.0  20.0
Nord 1                                       30   66.033333   47.5  19.0
Wiesbadener Straße                           57   66.000000   50.0  14.0
nördliche Luisenstadt                       483   65.291925   50.0  15.0
Friedrichshagen                              25   65.040000   55.0  30.0
Malchow, Wartenberg und Falkenberg            6   63.666667   60.0  34.0


                                              max
neighbourhood_cleansed
Volkspark Wilmersdorf                      6000.0
Allende-Viertel                             325.0
Marzahn-Nord                                500.0
Schöneberg-Nord                            6000.0
Karlshorst                                 8000.0
Frankfurter Allee Süd                      5000.0
Haselhorst                                  280.0
Düsseldorfer Straße                        9000.0
Regierungsviertel                          1000.0
Alexanderplatz                             1739.0
Kurfürstendamm                              650.0
Helmholtzplatz                             5000.0
Zehlendorf  Südwest                        1200.0
Weißensee                                   999.0
Rahnsdorf/Hessenwinkel                      390.0
Rummelsburger Bucht                         297.0
Tiergarten Süd                              549.0
Müggelheim                                  250.0
Brunnenstr. Süd                            1000.0
Halensee                                    455.0
Schmöckwitz/Karolinenhof/Rauchfangswerder   149.0
Spandau Mitte                               290.0
Charlottenburg Nord                         650.0
Heerstrasse                                 350.0
Prenzlauer Berg Südwest                     430.0
Kantstraße                                  400.0
Marzahn-Süd                                 200.0
Südliche Friedrichstadt                    2500.0
Prenzlauer Berg Süd                         580.0
Dammvorstadt                                270.0
Frankfurter Allee Nord                     8600.0
Alt-Hohenschönhausen Nord                   237.0
Zehlendorf  Nord                            250.0
Blankenfelde/Niederschönhausen              315.0
Schmargendorf                               250.0
Neue Kantstraße                             600.0
Westend                                     900.0
Schloß Charlottenburg                       500.0
Buch                                        140.0
Grunewald                                   250.0
Gatow / Kladow                              200.0
Pankow Zentrum                              800.0
südliche Luisenstadt                        569.0
Tempelhofer Vorstadt                       2500.0
Mahlsdorf                                   220.0
Nord 1                                      350.0
Wiesbadener Straße                          299.0
nördliche Luisenstadt                       720.0
Friedrichshagen                             150.0
Malchow, Wartenberg und Falkenberg           95.0

In [57]:
df_neighbourhoods.index

Index(['Volkspark Wilmersdorf', 'Allende-Viertel', 'Marzahn-Nord',
       'Schöneberg-Nord', 'Karlshorst', 'Frankfurter Allee Süd', 'Haselhorst',
       'Düsseldorfer Straße', 'Regierungsviertel', 'Alexanderplatz',
       ...
       'West 4', 'MV 2', 'Lankwitz', 'Brunsbütteler Damm',
       'Friedrichsfelde Süd', 'Marzahn-Mitte', 'Gropiusstadt', 'Siemensstadt',
       'Hellersdorf-Süd', 'Neu-Hohenschönhausen Süd'],
      dtype='object', name='neighbourhood_cleansed', length=137)

In [58]:
df_neighbourhoods['price']['mean']

neighbourhood_cleansed
Volkspark Wilmersdorf       362.221106
Allende-Viertel             187.200000
Marzahn-Nord                184.000000
Schöneberg-Nord             174.581181
Karlshorst                  170.791045
                               ...
Marzahn-Mitte                31.000000
Gropiusstadt                 31.000000
Siemensstadt                 28.875000
Hellersdorf-Süd              27.625000
Neu-Hohenschönhausen Süd     19.500000
Name: mean, Length: 137, dtype: float64

**TODO:** visualisointi kannattaa itse asiassa toteuttaa raakadatasta

In [33]:


import seaborn as sns

df_vis = pd.DataFrame.from_dict({
    'x': df_neighbourhoods.index,
    'y': df_neighbourhoods['price']['mean'],
})

sns.catplot(x="x", y="y", kind='count', palette="ch:.25", data=df_vis);

# sns.barplot(x=df_neighbourhoods.index, y=df_neighbourhoods['price']['mean'], palette="vlag")

ValueError: Either `x` or `y` must be None for count plots